body {
    font-family: 'Poppins', sans-serif;
    background: #f8f8f8;
    margin: 0;
    padding: 0;
}

.main {
    padding: 50px 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
}

.signup-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
}

.signup-form {
    width: 40%;
    padding-left: 24px;
}

.signup-form label {
    color: #222;
}

.signup-form .form-group {
    margin-bottom: 25px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: calc(100% - 30px);
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
}

.signup-form input[type="checkbox"] {
    display: none;
}

.signup-image {
    width: 50%;
    text-align: center;
}

.logo-line {
    border-radius: 20px;
    overflow: hidden;
}

.logo-line img {
    width: 70%;
    border-radius: 20px;
}

.form-submit {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 39px;
    cursor: pointer;
}

.form-submit:hover {
    background: #4292dc;
}

.signup-image-link {
    font-size: 14px;
    color: #222;
    display: block;
    margin-top: 20px;
}

.form-title {
    font-weight: bold;
    color: #222;
    font-size: 36px;
    margin-bottom: 20px;
}
