

body {
    font-family: Arial, sans-serif;
    background-color: #080710;
    background-image: url('Img1.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
}

.navbar{
	padding:15px;
}
.navbar ul {
    margin: 10px 8px 10px 20px;
    padding: 0;
    list-style-type: none;
    display: flex; 
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li:first-child {
    margin-left: 0; 
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ccc; 
}

.logout {
    margin-left: auto; 
}

.header {
    text-align: center;
    margin-top: 50px;
}

.header h1 {
    color: #ffffff;
}
